.ui.five.mini.steps
  .step
    %i.phone.volume.icon
    .content
      .title Заявка на замер
  .step
    %i.laptop.volume.icon
    .content
      .title Разработка дизайн-проекта
  .step
    %i.wrench.icon
    .content
      .title Изготовление кухни
  .step
    %i.truck.icon
    .content
      .title Доставка
  .step
    %i.thumbs.up.outline.icon
    .content
      .title Монтаж