.swiper-container
  .swiper-wrapper
    - @items_for_slider.each do |item|
      .swiper-slide{style: "background-image: url(#{item.photo.url});"}
        .ui.basic.segment.left.aligned
          %h1.ui.header.inverted
            = item.name
            .sub.header= item.short_description
            %br
            = link_to('ПОДРОБНЕЕ', item_path(item), class: 'ui blue basic button')
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next