

SLIDER

%br

= render(partial: 'application/partials/steps')
.ui.four.cards
  = render(partial: 'items/partials/item_card', collection: @items)
= paginate(@items, theme: 'default')


-#-#.ui.text.container
-#-#  %h1.ui.header
-#-#    Может слайдер с акциями или товаром?
-#-#  %h2 Любой текст
-#-#  .ui.huge.primary.button
-#-#    Или кнопка
-#-#    %i.right.arrow.icon
-#
-#
-#.ui.two.column.grid.centered
-#  .column
-#    %p я не умею писать такие тексты :)
-#    .ui.statistics
-#      .statistic
-#        .value
-#          5
-#        .label
-#          Лет на рынке
-#      .statistic
-#        .text.value
-#          Цена
-#          %br/
-#          Качество
-#        .label
-#          подход
-#      .statistic
-#        .value
-#          %i.plane.icon
-#          5
-#        .label
-#          Flights
-#      .statistic
-#        .value
-#          700+
-#        .label
-#          Довольных кли