



.ui.container
  .ui.secondary.pointing.menu
    %a.toc.item#toggle
      %i.sidebar.icon
    %a.item.vanishing PageLink
    %a.item.vanishing PageLink
    %a.item.vanishing PageLink
    %a.item.vanishing PageLink
    .right.menu
      .item
        %a.ui.button Log in
      .item
        %a.ui.button Sign Up


.ui.vertical.sidebar.menu
  %a.item Home
  %a.item PageLink
  %a.item PageLink
  %a.item PageLink
  %a.item PageLink
  %a.item PageLink



